.client {
  padding: 0px;
  margin-bottom: 94px;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  // margin-right: 30px;

  @include for-size(desktop) {
    display: flex;
    // width: calc((100% - 30px * 5) / 6);
  }
}

.client-icon {
  fill: $icon-client-color;
}
.client-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

// @include for-size(tablet-landscape) {
// }

// @include for-size(tablet-portraite) {
//   margin-right: 30px;
//   margin-bottom: 30px;
// }

// .client-item:nth-last-child(odd) {
//   @include for-size(tablet-portrait) {
//   }

.client-item {
  @include for-size(tablet-landscape) {
    margin-right: 30px;
  }
}

.client-item {
  @include for-size(desktop) {
    margin-right: 30px;
  }
}

.client-link {
  width: 165px;
  height: 90px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}
.client-item:hover .client-icon,
.client-item:hover .client-link {
  border-color: $accent-color;
  fill: $accent-color;
}
