.icon-menu {
  position: absolute;
  right: 15px;
  top: 15px;

  &:hover .menu {
    fill: $accent-color;
  }

  @include for-size(tablet-landscape) {
    display: none;
  }

  @include for-size(desktop) {
    display: none;
  }
}

.header-list {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.header-contact {
  display: block;
  padding: 0px;
  margin: 0px;
  list-style: none;

  @include for-size(desktop) {
    margin-left: 250px;
    display: flex;
  }
}
.head {
  @include for-size(tablet-landscape) {
    display: flex;
  }
}

.header-main-icon {
  margin-top: 16px;
  padding-right: 80px;

  @include for-size(tablet-landscape) {
    margin: 0px;
  }

  @include for-size(desktop) {
    margin: 0px;
  }
}

.header-menu-item {
  text-decoration: none;

  &:hover:not(.portfolio),
  &:focus {
    color: $accent-color;
  }
  &:not(.portfolio) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

.header-nav {
  padding: 32px 0px;
  align-items: baseline;
  display: none;
  justify-content: space-between;

  @include for-size(tablet-landscape) {
    display: flex;
  }
  @include for-size(desktop) {
    display: flex;
  }
}

.header-menu-list {
  position: relative;

  @include for-size(tablet-landscape) {
    padding-right: 45px;
  }

  &:not(:last-child) {
    padding-right: 45px;
  }

  &:hover .header-contact-item,
  &:hover .header-icon-contact {
    fill: $accent-color;
    color: $accent-color;
  }
}

.header-line::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 50px;
  bottom: -32px;
  height: 4px;
  background-color: $accent-color;
}

// .header-contact {
//   margin-left: 288px;
// }

.header-contact-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;

  @include for-size(tablet-landscape) {
    font-size: 12px;
    line-height: 1.17;
    color: $main-color;
  }
}

.portfolio {
  color: $accent-color;
}

.header-icon-contact {
  fill: $dark-color;
  margin-right: 10px;
}
