.icon-menu {
  position: absolute;
  right: 22px;
  top: 22px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover .menu {
    fill: $accent-color;
  }
}

.header-list {
  @media screen and (max-width: 767px) {
    // display: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
}

.header-contact {
  @media screen and (max-width: 1199px) {
    display: block;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 200px;
  }
}

.header-main-icon {
  position: relative;
  top: 16px;
  margin: 0px;
  padding-right: 80px;
}

.header-menu-item {
  text-decoration: none;

  &:hover:not(.studio),
  &:focus {
    color: $accent-color;
  }
  &:not(.studio) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

.header-nav {
  display: flex;
  padding: 32px 0px;
  align-items: baseline;
}

.header-menu-list {
  position: relative;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  &:not(:last-child) {
    @media screen and(min-width: 768px) {
      padding-right: 50px;
    }
  }
  &:hover .header-contact-item,
  &:hover .header-icon-contact {
    fill: $accent-color;
    color: $accent-color;
  }
}
.header-line::before {
  content: "";
  display: block;
  position: absolute;
  left: 40%;
  right: 50px;
  bottom: -32px;
  height: 4px;
  width: 86px;
  background-color: $accent-color;

  @media screen and (min-width: 768px) {
    left: 0;
    width: 60px;
  }
}

.header-contact-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

.studio {
  color: $accent-color;
}

.header-icon-contact {
  fill: $dark-color;
  margin-right: 10px;
}
.menu-button {
  background: transparent;
  display: absolute;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}
.menu-button .is-open .icon-cross {
  display: block;
}

.menu-button .is-open .icon-burger {
  display: none;
}

.menu-conteiner {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $wite-color;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateX(-100%);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.is-open {
    @media screen and (max-width: 767px) {
      display: block;
      transform: translateX(0);
      z-index: 100;
    }
  }
}
.hed {
  display: flex;
}
