.ocupation-section {
  display: none;

  @include for-size(desktop) {
    display: block;
  }
}

.occupation {
  @include for-size(desktop) {
    display: flex;
    width: calc((100% - 30px * 2) / 3);
    margin: 0 0 94px;
    padding: 0px;
    list-style: none;
  }
}
.ocupation-box {
  @include for-size(desktop) {
    position: relative;
    width: 370px;
    height: 294px;

    width: 100%;
  }
}
.ocupation-paragraf-box {
  @include for-size(desktop) {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0px;
    background: rgba(47, 48, 58, 0.8);
  }
}
.ocupation-item {
  @media screen and(min-width:768px) {
    width: 354px;
  }

  &:not(:last-child) {
    @include for-size(desktop) {
      margin-right: 30px;
    }
  }
}
.ocupation-paragraf {
  @include for-size(desktop) {
    margin: 0px;
    padding: 27px 82px;

    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $wite-color;
  }
}
