.requirement {
  display: flex;
  margin: 94px 0;
  padding: 0px;
  list-style: none;
}

.icon-requirement {
  padding: 25px 101px;
  background: $ocupation-bg;
  border-radius: 4px;
}

.requirement-item:not(:last-child) {
  margin-right: 30px;
}

.requirement-title {
  margin: 30px 0 10px;
}

.requirement-paragraf {
  margin: 0px;
}
