.team {
  padding: 0px;
  margin-bottom: 94px;
  list-style: none;
  box-sizing: content-box;

  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
  }

  @include for-size(desktop) {
    display: flex;
    // width: calc((100% - 30px * 3) / 4);
  }
}


.team-list {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    @include for-size(tablet-landscape) {
      margin-right: 30px;
    }

    @include for-size(desktop) {
      margin-right: 30px;
    }
  }
}

.team-item {
  margin: 30px 0 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: $dark-color;
}

.team-profesion {
  margin: 0 0 16px;

  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: $main-color;
}
