.btn-portfolio {
  padding: 6px 22px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: $dark-color;
  border: $wite-color;
  background-color: #f5f4fa;

  &:hover,
  &:focus {
    color: $wite-color;
    background: #2196f3;
  }
}

.btn-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  flex-wrap: wrap;

  @include for-size(desktop) {
      justify-content: center;
  }

}

.btn-item {
  margin: 8px;
}
