.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.conteiner {
  position: relative;
  width: 450px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @include for-size(tablet-portraite) {
    width: 450px;
  }

  @include for-size(tablet-landscape) {
    width: 768px;
    display: flex;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}

.flexbox,
.header-nav {
  @include for-size(desktop) {
    display: flex;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $main-color;
}
